.photo-container {
  height: 100%;
  position: relative;
  /*border: 1px solid black;*/
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.thumbnail {
  width: 80%;
  margin-top: 5%;
}

.subheader {
  display: inline;
}

a {
  color: #333333;
}

a :hover {
  color: #333333;
}

.upvote :hover {
  color: orangered;
}

.downvote :hover {
  color: #9494FF;
}

.sub-btn {
  margin-bottom: 5%;
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}

.smooth {
  transition: 0.1s ease;
}

.post-form {
  position: absolute;
  z-index: 999;
}
